[defaults]
#set directories
inventory = inventory/hosts.yml
roles_path = roles
colelctions_path = collections

# fresh vms do not have known hosts yet
host_key_checking = False

# avoid sudo escalation time out
timeout = 30

# root access for CIS hardening
become = True

# fewer ssh round trips per task, can use
# existing ssh connections, instead of new
# ssh connections for each and every task
pipelining = True
